.logpage {
  height: 100%;
  width: 100%;
  position: relative;
  background-image: url("https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1531829247&di=9bd9a638603f97e6dc2b24ab053da6df&imgtype=jpg&er=1&src=http%3A%2F%2Fpic1.win4000.com%2Fwallpaper%2F2018-06-04%2F5b14d8f3a1a08.jpg");
}
